# .env.example
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# JWT configuration
# Secret key for signing JWT tokens (should be a long random string) : 256 characters minimum recommended
JWT_SECRET=
JWT_EXPIRATION_MS=

# Server port
# Here you have to choose the port 3001 because of the frontend server is configured to use it
# We can't modify the frontend code in this project
SERVER_PORT=3001

# Directory to store uploaded pictures
# example : uploads/pictures
# without trailing slash but relative to project root
UPLOAD_DIR=

# Enable CORS and specify allowed origins : Example values
# http://localhost:4200,http://example.com
CORS_ALLOWED_ORIGINS=